@model Demo.Models.DTO.IntroducesDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:33%;">
    @{String color = "text-align:center;" + "background-color:" + Model.Color + ";height:300px;width:400px;"; }
    <div style=@color>
        <div style="margin-top:30px;">
            @*@{String img = "/Images/" + item.Img;}*@
            <img src=@Model.Img alt="" height="140" width="140" />
        </div>
        <div style="color:white;">
            <div style="font-size:60px;font-weight:bold;">
                @Model.Data
                @if (Model.Data != (int)(Model.Data))
                {
                    char percent = '%';
                    @Html.DisplayFor(modelItem => percent)}
                <br />
            </div>
            <div style="font-size:20px;">
                @Html.Raw(@Model.Describe)
            </div>
        </div>
    </div>
</div>

<br/>
<p style="text-align:center;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
