@model IEnumerable<Demo.Models.DTO.IntroducesDTO>
@using Demo.Models.DAO;
@using Demo.Models.DTO;
@{
    ViewBag.Title = "Index";
    ViewBag.UserName = Session["loginSession"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsFooter{


}

@*<div id="intro1" style="display:none;">
    <div style="font-size:30px; text-align:center; height: 30px; padding: 5px; margin: 20px;"><strong>Introduces List</strong></div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Describe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>#</th>
        </tr>
        @{
            List<IntroducesDTO> list = IntroducesDAO.Instance.GetListIntroducts();
        }
        @foreach (var item in list)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src=@item.Img height="150" width="150" style="border: 1px solid;background-color:lightgrey;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.Raw(item.Describe)
                </td>
                <td>
                    <input type="color" style="height:34px; float: left;" disabled="disabled" value=@item.Color />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id.ToString() }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id.ToString() })
                </td>
            </tr>
        }

    </table>
</div>*@
<div id="home1" style="display:block;"><h2>Home Admin</h2></div>
<div id="intro1" style="display:none;"><h2>Intro</h2></div>
<div id="news1" style="display:none;"><h2>News</h2></div>
<div id="partners1" style="display:none;"><h2>Partners</h2></div>