@model IEnumerable<Demo.Models.DTO.NewsDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" cellpadding="10" cellspacing="10">
    <tr>
        <th width="150">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="200">
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th width="450">
            @Html.DisplayNameFor(model => model.Describe)
        </th>
        <th width="200">#</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src=@item.Img height="125" width="175" style="border: 1px solid;"/>
        </td>
        <td>
            @Html.Raw(item.Describe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
